/**
 * %定义的占位符，它与直接继承最大的区别就是如果它不被extend引用，它也就不会被编译。例:
 *   定义: %example { ... }
 *   使用: .btn { @extend %example; }
 *   (@extend 也可以继承其他class的样式，例： .btn { @extend .text; })
 *
 * @mixin 定义的mixin，例:
 *   定义: @mixin width($width: 10px) { width: $width; }
 *   使用: .btn { @include width(20px); }
 *     或: .btn { @include width; }
 *
 *
 **/

 %full-screen-wh{
     width: 100vw;
     height: 100vh;
 }
 %flex-{
    display: flex;
}
%flex-h-c{
    display: flex;
    justify-content: center;
}
%flex-v-c{
    display: flex;
    align-items: center;
}
 %flex-hv-c{
     display: flex;
     align-items: center;
     justify-content: center;
 }